/* The code below centers the text of all h1's on the page. */

h1 {
    text-align:center;
    border-bottom: 5px dashed rgb(0, 0, 181);
    
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  width:400px;
}

/* The code below centers the text of all h2's on the page. */
h3 {
    text-align:center;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flexbox;
    justify-content: flex-start;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    width: 450px;
    border: 1px rgb(0, 0, 181) ridge;
    margin: 8px;
    padding: 5px;
    border-radius: 3px;
}

body{
    background-color: rgb(255, 250, 212);
}
